<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function () {
      var photoport = new Photoport({id: 'sample1'})
    });
  </script>
<% end %>
<div class="photoport">
  <div class="photoport-handle photoport-handle-left"></div>
  <div class="photoport-handle photoport-handle-right"></div>
  <div class="photoport-photo"></div>
</div>
