.edit-collection {
  margin: 70px 30px;

  .control {
    margin-bottom: 1.5em;
  }

  .close.control {
    button {
      font-size: 0.85em;
      color: $text-dim;
      .icon {
        font-size: 0.5em;
        font-style: normal;
        margin-right: 0.5em;
      }
    }
  }

  .open.control {
    .icon {
      padding-right: 0.75em;
      font-size: 0.6em;
    }
  }

  .public-access.control {
    label {
      font-size: 0.85em;
    }

    input {
      margin-right: 0.25em;
    }

    .url {
      font-size: 0.85em;
    }
  }

  .remove.control {
    width: 300px;
    font-size: 0.85em;

    button {
      font-size: 1.5em;
      margin-left: 0.1em;
      .icon {
        margin-right: 0.25em;
      }
    }
  }
}
