.identify-view {
  .form-container {
    margin: 0 auto;
    width: 40%;
  }

  .form-group {
    margin: 2.0em 0;
  }

  input {
    font-weight: 100;
    font-size: 2.0em;

    &::-webkit-input-placeholder {
      font-weight: 10;
      font-size: 0.5em;
      font-style: italic;
    }
  }

  .error-flash {
    display: none;
  }
}
