.index-view {
  position: relative;
  overflow: hidden;

  .collections-list-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    overflow-y: scroll;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        @include user-select-none();
        position: relative;;
        margin: 0;

        .button {
          @user-select-none();
          display: block;
        }

        .button.new {
          width: 100%;
        }
      }
    }
  }

  .collections-edit-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffaa;
    height: 100%;
  }
}
