.list-view {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  margin: 0 auto;

  .btn.new {
    margin: 20px auto 10px;
    width: 180px;
  }

  ul.nav.nav-list.nav-list-vivid.collections {

  }

  ul.nav.nav-list.nav-list-vivid.collections {
    margin-top: 10px;
    background-color: rgba(255,255,255,0.8);
  }
}
