.new-collection-panel {
  .centre-controls {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .footer-controls {
    position: absolute;
    left: 0;
    bottom: 50px;
    text-align: center;
    width: 100%;
  }

  .button.new {
    font-size: 1.85em;
  }

  .button.sign-in {
    font-size: 1em;
  }
}
