.photoport-container {
  padding-top: 50px;
  position: absolute;
  top: 15px;
  left: 80px;
  margin: 0px;
  /* debugging */
  width: 900px;
  height: 600px;
  /* end debugging */

  .save-prompt {
    width: 125px;
    position: absolute;
    top: 135px;
    right: -180px;
    margin: 60px auto;
    text-align: left;
    display: none;

    p {
      font-size: 14px;
      color: #aaa;

      .btn.save {
        margin: 10px 0;
        width: 65px;
      }
    }
  }
}
