@import "mixins";

.photoport-cms-upload-panel {
  position: relative;
  @include user-select-none;

  .container {
    display: block;
    position: relative;
    width: 60%;
    margin: 50px auto;
  }

  h1 {
    text-align: center;
  }

  .dropzone {
    background-color: #030303;
    position: relative;
    margin: 0 auto;
    min-width: 200px;
    max-width: 400px;
    min-height: 240px;
    max-height: 480px;
    line-height: 100%;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-content: stretch;
    -webkit-align-items: center;

    .prompt {
      -webkit-order: 0;
      -webkit-flex: 0 1 auto;
      -webkit-align-self: auto;
    }
  }

  .file-upload {
    text-align: center;
    display: block;
    padding: 30px;
  }
}
