<input class="js-name" type="text">
<div class="photoport-container"></div>
<a style="display: none" href="javascript:" class="button primary js-edit">edit</a>
<a style="display: none" href="" target="blank" class="button primary js-open">open</a>
<div style="display: none" class="remove-control">
  <input class="js-remove-confirm" type="checkbox" />
  <button class="button secondary js-remove">remove</button>
</div>
<div style="display: none" class="public-access-control">
  public access: <input class="js-public-access" type="checkbox" />
</div>
