<input class="js-name" type="text">
<div class="photoport-container">

</div>
<a href="javascript:" class="button primary js-open">open</a>
<div class="remove-control">
  <input class="js-remove-confirm" type="checkbox" />
  <button class="button secondary js-remove">remove</button>
</div>
<div class="public-access-control">
  public access: <input class="js-public-access" type="checkbox" />
</div>
