<div class="container">
  <div class="name control">
    <input class="name js-name" type="text">
  </div>
  <div class="public-access control">
    <label><input class="public-access js-public-access" type="checkbox" />public access</label><div class="url"><a href="" target="blank" class="js-open"></a></div>
  </div>
  <div class="remove control">
    To delete this collection, check here <input class="js-remove-confirm" type="checkbox" /> then click: <button class="js-remove"><span class="icon">-</span>delete</button>
  </div>
  <div class="open control">
    <a href="javascript:" class="action button js-edit"><span class="icon">↱</span>open</a>
  </div>
  <div class="close control">
    <button class="js-close"><span class="icon">X</span>close</button>
  </div>
</div>
