@import "mixins";

.photoport-cms-upload-panel {
  .container {
    /* basic styling */
    width: 100%;
    height: 100%;


    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .flex-item {
      margin: 20px;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
    }

    .file-upload {
      display: none;
    }

    .choose-files {
      -webkit-box-sizing: border-box;
      width: 420px;
    }

    .sentence-flow {
      margin: 8px;
    }

    .dropzone {
      background-color: $panel;
      width: 420px;
      height: 285px;

      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .prompt {
        -webkit-order: 0;
        -webkit-flex: 0 1 auto;
        -webkit-align-self: auto;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        font-size: 1.85em;
      }
    }
  }
}
