<div class="options-panel">
  <button type="button" class="close fui-cross"></button>
  <div class="controls">
    <div class="control remove">
      <p>Remove this photo from the collection</p>
      <button class="btn btn-small btn-danger btn-block js-remove">remove</button>
    </div>
  </div>
</div>
