<div class="container">
  <div class="options-panel">
    <div class="control remove">
      To remove this photo from the collection click
      <button class="btn btn-small btn-danger btn-block js-remove"><span class="icon">-</span>remove</button>
    </div>
  </div>
</div>
