<h4>Keep the collection for later</h4>
<p class="prompt">
  Enter the email address and password you'd like to use to save the collection.
</p>
<p class="prompt">
  If this is the first time the email address has been used we'll email you a confirmation.
</p>
<div class="error-flash">
</div>
<form>
  <div class="form-group">
    <input name="email" type="email" value="" placeholder="email address" class="form-control input-hg">
  </div>
  <div class="form-group">
    <input name="password" type="password" value="" placeholder="password" class="form-control input-hg">
  </div>
  <div class="form-group buttons">
    <button type="button" class="btn btn-default btn-sm cancel js-cancel">Cancel</button>
    <button type="submit" class="btn btn-success btn-hg js-identify">Save</button>
  </div>
</form>
