<div class="container">
  <h1>Who are you?</h1>
  <div class="error-flash">
  </div>
  <form>
    <div class="control email">
      <input id="identify_email" name="email" type="email" value="" placeholder="email address" />
    </div>
    <div class="control password">
      <input id="identify_password" name="password" type="password" value="" placeholder="password" />
    </div>
    <div class="control buttons">
      <button type="submit" class="hello js-identify"><span class="icon">↱</span>Hello</button>
    </div>
  </form>
</div>
