<div class="sign-in page-controls">
  <span class="identity"></span><a href="<%= Rails.application.routes.url_helpers.hello_path %>" data-push-state>Sign in</a>
</div>
<div class="sign-out page-controls">
  <span class="identity"></span><a href="<%= Rails.application.routes.url_helpers.goodbye_path %>">Sign out</a>
</div>
