<ul class="nav nav-list nav-list-vivid collections-container">
  <li class="nav-header">Collections</li>
  <ul class="nav nav-list nav-list-vivid collections">
  </ul>
  <li>
    <button class="btn btn-block btn-primary btn-xs new new-js">New Collection</button>
  </li>
</ul>
