<ul class="nav nav-list nav-list-vivid outer">
  <li class="nav-header">Collections</li>
  <li>
    <ul class="nav nav-list nav-list-vivid inner">
    </ul>
  </li>
  <li class="controls">
    <button class="btn btn-block btn-primary btn-xs new new-js">New Collection</button>
  </li>
</ul>
