<div class="centre-controls">
  <button class="button new primary js-new-collection">new collection</button>
</div>
<div class="footer-controls">
  <button class="button sign-in secondary js-sign-in-collection">sign in</button>
</div>
