<div class="container">
  <h1>Add an Image</h1>
  <div class="js-dropzone dropzone">
    <div class="prompt">Drop images here</div>
  </div>
  <form class="file-upload" method="POST" encoding="utf-8" enctype="multipart/form-data">
    <input class="js-file-input" type="file" name="file" multiple />
  </form>
</div>
