<div class="js-dropzone">
  <div class="prompt">
    Drop files here or <button class="btn btn-mini btn-inverse js-choose-files">choose files</button>
    <form method="POST" encoding="utf-8" enctype="multipart/form-data">
      <input class="js-file-input" type="file" name="file" multiple />
    </form>
  </div>
</div>
