<div class="container">
  <div class="js-dropzone dropzone flex-item">
    <div class="prompt">Drop images here</div>
  </div>
  <span class="sentence-flow flex-item">or</span>
  <a class="button primary flex-item choose-files js-choose-files">Choose Files</a>
</div>
<form class="file-upload" method="POST" encoding="utf-8" enctype="multipart/form-data">
  <input class="js-file-input" type="file" name="file" multiple />
</form>
