<div class="js-dropzone container">
  <div class="drop-prompt lead">Drop files here</div>
  <div class="joining-text">or</div>
  <button class="btn btn-large btn-inverse choose-files js-choose-files">Choose Files</button>
  <form method="POST" encoding="utf-8" enctype="multipart/form-data">
    <input class="js-file-input" type="file" name="file" multiple />
  </form>
</div>
