//= require bootstrap/css/bootstrap
//= require css/flat-ui

@import "mixins";
@import "photoport";
@import "photoport_cms/edit_panel";
@import "photoport_cms/identify";
@import "photoport_cms/identity_status";
@import "photoport_cms/photoport_container";
@import "photoport_cms/upload_panel";

#primary_navigation {
  position: fixed;
  top: 0;
  left: 7.5%;
}

#main {
  width: 700px;
  margin: 40px auto;

  #page_body {
    margin-top: 45px;
  }
}

.page-controls {
  font-size: 0.85em;
  a, a:focus, a:hover, a:visited {
    color: $black;
  }
}