//= require bootstrap/css/bootstrap
//= require css/flat-ui

@import "mixins";
@import "photoport";
@import "collections/edit_panel";
@import "collections/identify";
@import "collections/identity_status";
@import "collections/photoport_container";
@import "collections/upload_panel";
@import "collections/index";

body {
  overflow: none;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.page-controls {
  font-size: 0.85em;
  a, a:focus, a:hover, a:visited {
    color: $black;
  }
}

.index-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  #identity_status {
    position: absolute;
    top: 5px;
    right: 3.5%;
    font-size: 0.85em;
  }

  #list_container {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
  }
}

.slider-view {
  position: relative;
  left: 0;
  top: 0;

  .slider-view-viewport {
    overflow: scroll;
  }

  .slider-view-destination {
    position: relative;
    top: 0;
    left: 0;
  }

  #index_region {
    box-shadow: 0 -3px 20px rgba(0,0,0,0.05) inset;
    border-bottom: solid 1px #eee;
  }

  #photoport_region {
    box-shadow: 0 3px 7px rgba(0,0,0,0.25) inset;
  }
}
