//= require css/flat-ui-pro

@import "mixins";
@import "photoport";
@import "collections/edit_panel";
@import "collections/identify";
@import "collections/identity_status";
@import "collections/photoport_container";
@import "collections/upload_panel";
@import "collections/index";

body {
  overflow: none;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.page-controls {
  font-size: 0.85em;
  a, a:focus, a:hover, a:visited {
    color: $wet-asphalt;
  }
}
