//= require bootstrap/css/bootstrap
//= require bootstrap/css/bootstrap-responsive
//= require css/flat-ui
@import "mixins";
@import "photoport";
@import "photoport_cms";

#main {
  width: 800px;
  margin: 40px auto;

  #page_heading {

    position: relative;
    margin: 30px;

    h1 {
      position: relative;
      display: inline-block;
      font-size: 50px;
      font-weight: 400;
    }
  }
}