$green: #1abc9c;
$grey: #adadad;
$darkening-etch: rgba(0, 0, 0, 0.1);
$black: #526476;
$red: #e74c3c;

@mixin user-select-none() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
}
