.photoport {

  $width: 700px;
  $height: 400px;
  $edgeWidth: 10px;
  $handleWidth: 50px;

  position: relative;
  width: $width;
  height: $height;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: $edgeWidth;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;

  .photoport-handle {
    position: absolute;
    top: 0;
    width: $handleWidth;
    height: $height;
  }

  .photoport-handle-left {
    left: 0;
  }

  .photoport-handle-right {
    right: 0;
  }

  .photoport-content {
    position: absolute;
    top: $edgeWidth;
    left: $edgeWidth + $handleWidth;
    width: $width - (2 * $handleWidth);
    height: $height;

    .photoport-shadow {
      box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
      border-radius: 3px;
    }
  }
}