.photoport {

  $baseWidth: 600px;
  $baseHeight: 375px;
  $topEdgeWidth: 10px;
  $handleWidth: 30px;

  position: relative;
  top: 0;
  left: 0;
  width: $baseWidth + (2 * $handleWidth);
  height: $baseHeight + (2 * $topEdgeWidth);
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: inset 0 0 100px rgba(100,100,100,0.1), 0 0 10px rgba(100,100,100,0.3);
  border: solid 1px rgba(255, 255, 255, 0.1);
  overflow: hidden;

  .photoport-handle {
    position: absolute;
    top: $topEdgeWidth;
    width: $handleWidth;
    height: $baseHeight;
    display: table;
    user-select: none;
    -webkit-user-select: none;

    .photoport-handle-glyph {
      width: $handleWidth;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      color: rgba(100,100,100,0.15);
      user-select: none;
      -webkit-user-select: none;
    }
  }

  .photoport-handle-left {
    left: 0;
    background-image: url();
  }

  .photoport-handle-right {
    right: 0;
  }

  .photoport-port {
    position: relative;
    top: $topEdgeWidth - 1;
    left: $handleWidth - 1;
    width: $baseWidth;
    height: $baseHeight;
    border: solid 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;

    .photoport-content {
      height: $baseHeight;
      position: absolute;
      top: 0;
      left: 0;
      transition-property: left;
      transition-duration: 180ms;
      transition-timing-function: linear;
    }

    .photoport-element {
      box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: top;
    }
  }
}