.identify-view {
  position: relative;
  top: 0;
  left: 0;
  width: 380px;
  margin: 100px auto 30px;

  .prompt {
    margin: 10px;
    font-size: 14px;
  }

  form {
    margin: 30px 0;
    position: relative;
    top: 0;
    left: 0;

    .buttons {
      text-align: right;

      .btn {
        vertical-align: bottom;
        margin: 10px 5px;
        width: 120px;

        &.btn-hg {
          width: 50%;
        }
      }
    }
  }
}