<!DOCTYPE html>
<html>
<head>
  <title>Photoport</title>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="primary_navigation" class="page-controls">
    <%= link_to 'Collections', collections_path, class: 'home' %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
